<!DOCTYPE html>
<!--
    Licensed to the Apache Software Foundation (ASF) under one
    or more contributor license agreements.  See the NOTICE file
    distributed with this work for additional information
    regarding copyright ownership.  The ASF licenses this file
    to you under the Apache License, Version 2.0 (the
    "License"); you may not use this file except in compliance
    with the License.  You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing,
    software distributed under the License is distributed on an
    "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
     KIND, either express or implied.  See the License for the
    specific language governing permissions and limitations
    under the License.
-->
<html lang="en" ng-app="reminderApp">

<head>
	<meta charset="utf-8" />
	<meta name="format-detection" content="telephone=no" />
	<!-- WARNING: for iOS 7, remove the width=device-width and height=device-height attributes. See https://issues.apache.org/jira/browse/CB-4323 -->
	<meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
	<title>TODO-App</title>

	<link rel="stylesheet" type="text/css" href="css/index.css" />

	<!-- start "calendar" -->
	<link rel="stylesheet" type="text/css" href="css/jquery-ui.css" />
	<script src="js/lib/jquery/jquery.min.js"></script>
	<script src="js/lib/jquery/jquery-ui.min.js"></script>
	<!-- end "calendar" -->

	<!-- start "angular" -->
	<script src="js/lib/angular/angular.js"></script>
	<script src="js/ctrl/reminder.js"></script>
	<!-- end "angular" -->

	<script src="js/ctrl/gcalendar.js"></script>
	<script src="https://apis.google.com/js/client.js?onload=getCalendarEventsList"></script>
</head>

<body>
	<div class="main" ng-controller="ReminderListCtrl">
		<div class="page">
			<form>
				<!-- start "calendar" -->
				<script type="text/javascript">
					jQuery(function($) {//on document.ready
						$('#calendar').datepicker();
					});
				</script>
				<!-- end "calendar" -->

				<!--DATEPIKER-->
				<div id="calendar" name="calendar" class="reminderDirect"></div>

				<div style="clear: both;"></div>
				<input type="button" ng-click="currReminder='';onSelectCalendar();" ng-style="showSetDate" value="set date">

				<div ng-style="showRemindersEdit">
					<textarea id="txtReminders" name="txtReminders" size="20" type="text" ng-model="currReminder" style="float: left;" placeholder="Please type here remainder text"></textarea>

					<input type="button" ng-click="onSetReminderTxt(currReminder)" ng-style="showSetReminders" value="set">
					<input type="button" ng-click="onEditReminderTxt(currReminder)" ng-style="showEditReminders" value="edit">
				</div>
				<!--DATEPIKER END-->

				<!--LIST-->
				<!-- "ACTIVE" reminders -->
				<div id="wrapper" ng-repeat="itm in reminders | passed:false">

					<!--1st Level -->
					<div class="accordionButton"><span></span>{{itm.date}}<a href="#" class="delete-btn" ng-click="onDelete(itm)">X</a></div>
					<div class="accordionContent">
						<div class="clear list-box" ng-repeat="subitm in itm.itm | passed:false">
							<div class="row"><a href="#" class="check" ng-click="onSetPassed(subitm,true)">Check</a><p>{{subitm.description}}</p><a href="#" class="delete-btn" ng-click="onDelete(subitm)">X</a><a href="#" class="edit-btn" ng-click="onEdit(subitm)">E</a></div>
						</div>

					</div>

				</div>

				<!-- "NOT ACTIVE" reminders -->
				<div class="clear list-box">
					<div ng-repeat="itm in reminders"><div class="row" ng-repeat="subitm in itm.itm | passed:true"><a href="#" class="check">Check</a><p>{{itm.date}}</p>&nbsp;<p ng-repeat="subitm in itm.itm">{{subitm.description}}</p><a href="#" class="delete-btn" ng-click="onDelete(itm)">X</a><a href="#" class="edit-btn" ng-click="onEdit(itm)">E</a></div></div>
				</div>

				<!-- "Google Calendar" items -->
				<div id="holderGoogleCalendar" name="holderGoogleCalendar"></div>

				<script type="text/javascript">
						$(document).ready(function() {
							$('div.accordionButton').click(function() {
								if ($(this).hasClass('expanded')){
									$(this).next().slideUp('normal');
									$(this).removeClass('expanded');
									$(this).children('span').removeClass('open');
								}
								else
								{
									$('div.accordionContent').slideUp('normal');
									$(this).next().slideDown('normal');
									$('div.accordionButton').removeClass('expanded');
									$(this).addClass('expanded');
									$(this).children('span').addClass('open');
								}
							});

							$("div.accordionContent").hide();

							$('.check').click(function() {
								if ($(this).hasClass('checked')){
									$(this).removeClass('checked');
								}
								else{
									$(this).addClass('checked');
								}
							});
							$('.check').next().click(function() {

								if ($(this).prev().hasClass('checked')){
									$(this).prev().removeClass('checked');
								}
								else{
									$(this).prev().addClass('checked');
								}
							});
						});
				</script>
				<!--LIST END-->


			</form>
		</div>

		<footer>
			<div class="home-box"><a href="#" title="Home">Home</a></div>
			<div class="edit-box"><a href="#" title="Edit">Edit</a></div>
		</footer>
	</div>

	<script type="text/javascript" src="phonegap.js"></script>
	<script type="text/javascript" src="js/index.js"></script>
	<script type="text/javascript">
		app.initialize();
	</script>
</body>
</html>