/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
/*RESET*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration:none;
	cursor:pointer;
}
body {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
	/*background-color:#eae7e7;
	background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 100%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 100%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 100%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(1, #E4E4E4)
    );
    background-attachment:fixed;*/
	
	
		background: #cac9c9; /* Old browsers */
		background: -moz-linear-gradient(top,  #cac9c9 0%, #e9e9e9 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cac9c9), color-stop(100%,#e9e9e9)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #cac9c9 0%,#e9e9e9 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #cac9c9 0%,#e9e9e9 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #cac9c9 0%,#e9e9e9 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #cac9c9 0%,#e9e9e9 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cac9c9', endColorstr='#e9e9e9',GradientType=0 ); /* IE6-9 */


    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
	height:100%;
	margin:0px;
	padding:0px;
	text-transform:uppercase;
	width:100%;

}
html, body {
	min-height: 100%;
}
.main {
	max-width:1200px; /* TEMPORARY*/
	margin:0 auto;
	min-height: 100%;
	height: 100%;

	
}
p{
	padding:5px 5px 5px 5px;
	font-weight:bold;
	text-transform:none;
	}
input[type=button], .button {
	border:1px solid #999;
	border-radius: 4px;
	margin:3px;	
	padding:5px;
	font-weight:bold;
	background: #cac9c9; /* Old browsers */
	background: -moz-linear-gradient(top,  #e9e9e9 0%, #cac9c9 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e9e9e9), color-stop(100%,#cac9c9)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e9e9e9 0%,#cac9c9 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e9e9e9 0%,#cac9c9 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e9e9e9 0%,#cac9c9 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e9e9e9 0%,#cac9c9 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e9e9e9', endColorstr='#cac9c9',GradientType=0 ); /* IE6-9 */
	text-transform:capitalize;
	cursor:pointer;
}
input[type=text], textarea {
	border:1px solid #999;
	border-radius: 4px;
	margin:3px;
	padding:5px;	
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	background: #fff;
	width:75%;
	}
.page{
	width:100%;	
	min-height: 100%;
	height: 100%;
	
}
.clear{
	clear:both;
	}
.list-box{
	padding:10px 0;
	border-top: 2px solid #333;
	}
.clear.list-box.ng-scope{
	border:0;
	}
.row {
	clear:both;
	padding:10px;
	text-transform:none;
	
	font-weight:bold;
	line-height:20px;
	overflow:hidden;
	margin-left:20px;
}

.row > *{
	float:left;
	}
.row p{
	padding:0;
	cursor:pointer;
	}
.row:hover {
	background:#A7A7A7;
}
.row .delete-btn {
	display:none;
	margin-left:5px;
}
.row input[type=radio]{
	margin-right:5px;
	}
.row:hover .delete-btn, .accordionButton .delete-btn {
	background:url(../img/delete.png) 0 0 no-repeat;
	width:20px;
	height:20px;
	float:right;
	display:block;
	font-weight:bold;
	color:#000;
	text-indent:-9999px;
}
.check {
	background:url(../img/check.png) 0 0 no-repeat;
	width:20px;
	height:20px;
	float:left;
	display:block;
	font-weight:bold;
	color:#000;
	text-indent:-9999px;
	margin-right:5px;
}
.check.checked {
	background:url(../img/check.png) 0 -22px no-repeat;
	width:20px;
	height:20px;
	float:left;
	display:block;
	font-weight:bold;
	color:#000;
	text-indent:-9999px;
	margin-right:5px;
}
.edit-btn{
	background:url(../img/edit-small.png) 0 0 no-repeat;
	width:20px;
	height:20px;
	float:right;
	display:none;
	font-weight:bold;
	color:#000;
	text-indent:-9999px;
	margin-right:10px;
}

.row:hover .edit-btn{
	display:block;
	}

.ui-datepicker{
	width:100% !important;
    padding: 0 !important;
	}
.ui-datepicker td{
	
	}
.ui-datepicker td a{
	text-align:center !important;
	font-weight:bold !important;
	padding-top:5px  !important;
	padding-bottom:5px !important;
	}
footer{
	overflow:hidden;
	position: relative;
	margin-top: 20px; 
	height: 35px;
	clear:both;
	}
.home-box{
	float:left;
	}

#txtReminders{
	}
div[ng-repeat="itm in reminders"] {
	background:none;
	margin-left:0px;

	}
div[ng-repeat="itm in reminders"] p{
	color:#777;
	text-decoration:line-through;
	}
div[ng-repeat="itm in reminders"] a{
	visibility:hidden;
	display:none;
	}
div[ng-repeat="itm in reminders"]:hover a.delete-btn, div[ng-repeat="itm in reminders"]:hover a.edit-btn{
	visibility:visible;
	display:block;
	text-indent:-9999px;
	}

.home-box a{
	background:url(../img/home.png) 0 0 no-repeat;
	width:35px;
	height:35px;
	display:block;
	text-indent:-9999px;
	}
	
.edit-box{
	float:right;
	}
	
.edit-box a{
	background:url(../img/edit.png) 0 0 no-repeat;
	width:35px;
	height:35px;
	display:block;
	text-indent:-9999px;
	}

#wrapper{
	clear:both;
	padding:5px;
	}
.accordionButton{
	padding:10px;
	margin:0 0 0 0;
	
	font-weight:bold;
	text-transform:none;
	text-transform:capitalize;
	line-height: 19px;
	}
.accordionButton.expanded, .accordionButton:hover {
	background:#A7A7A7;
	}
.accordionButton span{
	float:left;
	background:url(../img/arrow-down.png) 0 0 no-repeat;
	width:20px;
	height:20px;
	margin-right:5px;
	}
.accordionButton span.open{
	float:left;
	background:url(../img/arrow-up.png) 0 0 no-repeat;
	width:20px;
	height:20px;
	margin-right:5px;
	}


















/* Portrait layout (default) */
.app {
	background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
	position:absolute;             /* position in the center of the screen */
	left:50%;
	top:50%;
	height:50px;                   /* text area height */
	width:225px;                   /* text area width */
	text-align:center;
	padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
	margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height *//* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
 .app {
 background-position:left center;
 padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
 margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
/* offset horizontal: half of image width and text area width */
    }
}
h1 {
	font-size:24px;
	font-weight:normal;
	margin:0px;
	overflow:visible;
	padding:0px;
	text-align:center;
}
.event {
	border-radius:4px;
	-webkit-border-radius:4px;
	color:#FFFFFF;
	margin:0px 30px;
	padding:2px 0px;
}
.event.listening {
	background-color:#333333;
	display:block;
}
.event.received {
	background-color:#4B946A;
	display:none;
}
 @keyframes fade {
 from {
opacity: 1.0;
}
 50% {
opacity: 0.4;
}
to {
	opacity: 1.0;
}
}
 @-webkit-keyframes fade {
 from {
opacity: 1.0;
}
 50% {
opacity: 0.4;
}
to {
	opacity: 1.0;
}
}
.blink {
	animation:fade 3000ms infinite;
	-webkit-animation:fade 3000ms infinite;
}

/*----------*/

@media screen and (min-width: 320px) {*{font-size:16px;}}
@media screen and (max-width: 480px) {*{font-size:16px;}}
@media screen and (min-width: 481px) {*{font-size:18px;}}
@media screen and (min-width: 641px) {*{font-size:19px;}}
@media screen and (min-width: 720px) {*{font-size:20px;}}
@media screen and (min-width: 721px) {*{font-size:20px;}}
@media screen and (min-width: 960px) {*{font-size:21px;}}
@media screen and (min-width: 961px) {*{font-size:21px;}}
@media screen and (min-width: 1025px) {*{font-size:22px;}}
